.overlay_screen {
  min-height: 100svh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background: rgba(28, 17, 50, 0.6);
  cursor: unset;
  display: grid;
  place-items: center;
}

.layout_ctn {
  background-color: #fff;
  padding: var(--outer-component-mg) 0;
  display: flex;
  width: 75vw;
  min-width: 900px;
  border-radius: 8px;
  height: 85svh;
  overflow: auto;
}
.layout_ctn::-webkit-scrollbar {
  display: none;
}

.layout_ctn > .lhs {
  padding: 0 var(--outer-component-gap);
  border-right: 1px solid var(--grey-5);
  width: 33%;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}
.pages {
  height: 100%;
  padding: var(--outer-component-gap) var(--outer-component-mg);
  display: flex;
  width: 70%;
}

.pages > .inner {
  min-height: 100vh;
  width: clamp(450px, 90%, 550px);
}

.pages > .inner > h1 {
  font-size: var(--inner-component-mg);
  margin-bottom: var(--inner-component-mg);
}

.inner .innerUpload {
  margin-bottom: var(--btn-padding);
}

.inner .innerSucces {
  padding: 56px 24px 53px;
  text-align: center;
  width: 80%;
  border-radius: 12px;
  border: 1px solid var(--grey-grey-5, #e5e7ef);
  background: var(--white);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.1),
    0px 0px 1px 0px rgba(12, 26, 75, 0.2);
}
.inner .innerSucces p {
  margin: 10px 0 32px;
}
/* identity */

/* end of identity */

/* about business */

.services_ctn,
.features_ctn {
  display: flex;
  flex-direction: column;
  gap: var(--inner-component-gap);
  margin-bottom: var(--outer-component-mg);
}

.add_service_card,
.add_feature_card {
  background-color: #fff;
  border: 1px solid var(--input-border);
  height: 80px;
  border-radius: var(--input-br);
  padding: 15px var(--input-padding);
  box-shadow: var(--input-box-shadow);
  display: block;
  width: 100%;
  transition: var(--input-transition);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.add_feature_card:not(:disabled):hover {
  border-color: var(--sky-blue);
}

.add_feature_card:disabled {
  background-color: var(--grey-6);
}

.add_feature_card:disabled h3 {
  opacity: 0.3;
}

.add_feature_card:not(:disabled):focus {
  border: 1px solid var(--sky-blue);
  outline: transparent;
  box-shadow: 0px 0px 0px 3px var(--input-focus-box-shadow);
  background-color: var(--input-focus-bg);
}

.add_feature_card div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.features_card_ctn {
  position: relative;
}

.features_card_ctn button {
  right: 16px;
  top: 16px;
  width: fit-content;
  height: fit-content;
  z-index: var(--z-index-input-icon);
}

.features_card {
  /* height: 150px; */
  max-height: 150px;
  overflow-y: scroll;
  border-radius: var(--input-br);
  padding: 15px var(--input-padding);
  display: block;
  width: 100%;
  transition: var(--input-transition);
  border: 1px solid var(--sky-blue);
  outline: transparent;
  box-shadow: 0px 0px 0px 3px var(--input-focus-box-shadow);
  background-color: var(--input-focus-bg);
  cursor: pointer;
}

.features_card h3 {
  position: sticky;
  position: -webkit-sticky;
  top: -10px;
}
.action_ctn {
  display: flex;
  align-items: center;
  gap: 30px;
}
.action_ctn > button {
  width: 100%;
  height: var(--outer-component-mg);
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .layout_ctn {
    flex-direction: column;
  }
  .lhs_levels_ctn {
    display: flex;
  }
}
