.wallet_page > .top {
  display: flex;
  gap: var(--inner-component-mg);
  width: 100%;
}

.balance_card {
  background-color: var(--sky-blue);
  width: 65%;
  padding: var(--inner-component-mg);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.balance_card * {
  color: #fff;
}

.balance_card .lhs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.balance_card .lhs h1 {
  animation: none;
}

.balance_card .btn_sec {
  display: flex;
  gap: 10px;
}

.balance_card > .rhs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;
}

.balance_card > .rhs > .top {
  display: flex;
  justify-content: flex-end;
}

.balance_card .account,
.balance_card .account > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance_card .account > div * {
  text-align: end;
}

.balance_card .account {
  gap: 12px;
}

.virtual_account_card {
  background-image: url(../../public/business-profile.svg);
  width: 35%;
  border-radius: var(--btn-fs);
  background: var(--white);
  padding: 38px var(--btn-padding);
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.virtual_account_card .content h3 {
  font-size: 20px;
  font-family: var(--graphikMedium);
  color: var(--secondary);
}

.virtual_account_card .content p {
  font-size: 14px;
  color: var(--grey-3);
  font-family: var(--graphikLight);
  line-height: 21px;
  margin: 10px 0 var(--btn-fs);
}

.virtual_account_card .content a {
  width: fit-content;
  border-radius: 8px;
  border: none;
  font-family: var(--graphikMedium);
  background-color: var(--sky-blue-active);
  color: var(--white);
  text-decoration: none;
}


/* transaction modal */

.modal__wallet_details {
  /* padding: var(--inner-component-mg); */
  padding: 2rem 0;
  /* min-height: 560px; */
  min-width: 500px
}
.modal__wallet_details_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.modal__wallet_details .row {
  display: flex;
  gap: 2rem;
}
.modal__wallet_details_section h5 {
  font-size: 1.15rem;
  font-family: "GraphikMedium";
  font-weight: 70;
  margin-top: 4rem;
}
.modal__wallet_details_section:nth-child(1) h5 {
  margin-top: 0;
}
.modal__wallet_details .label {
  width: 180px;
  font-size: 1.15rem;
  color: var(--grey-3);
}
.modal__wallet_details .value span {
  font-size: 1.15rem;
}
.modal__wallet_details .value > span > span {
  color: var(--grey-3);
}


/* Add money modal */

.add_money_modal__content {
  margin-top: 40px;
  background-color: var(--sky-blue-bg);
  border: 1px solid var(--sky-blue);
  width: 100%;
  border-radius: 12px;
  padding: var(--inner-component-mg);
  display: flex;
  flex-direction: column;
  gap: var(--inner-component-mg);
}

.modal__details {
  display: flex;
  justify-content: space-between;
}

.modal__details h6 {
  color: var(--grey-3);
  font-size: 12px;
}
.modal__details h4 {
  color: var(--grey-1);
  font-size: 14px;
}

.modal__details >div {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* wallet charts */
.wallet_chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 24px;
  padding-top: 24px;
}
.wallet_chart .chart_1,
.wallet_chart .chart_2 {
  height: 100%;
}

/* pie chart >>> */
.cashChart {
  padding: 24px;
  background: var(--white);
  border-radius: var(--btn-fs);
}
.cashChart_time {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 16px;
}
.cashChart_time small {
  font-size: 14px;
  color: var(--grey-3);
}
.cashChart_time p {
  font-size: 16px;
  color: var(--grey-1);
  font-family: var(--graphikSemibold);
  margin-top: 4px;
}
.cashChart_select {
  max-width: 150px;
  margin-bottom: 16px;
}
.cashChart_chartjs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cashChart_inflow,
.cashChart_outflow {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
}
.cashChart_inflow {
  background-color: #e6f5f9;
}
.cashChart_inflow small,
.cashChart_outflow small {
  font-size: 10px;
  font-family: var(--graphikMedium);
}
.cashChart_inflow p,
.cashChart_outflow p {
  font-size: 14px;
  font-family: var(--graphikBold);
}
.cashChart_inflow small,
.cashChart_inflow p {
  color: var(--sky-blue);
}
.cashChart_outflow {
  background-color: #ffebea;
}
.cashChart_outflow small,
.cashChart_outflow p {
  color: var(--negative);
}
.CashChart_dougnut {
  max-width: 160px;
  max-height: 160px;
  position: relative;
}
.CashChart_dougnut article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.CashChart_dougnut article small {
  font-size: 10px;
  color: var(--grey-3);
}
.CashChart_dougnut article p {
  font-size: 14px;
  color: var(--grey-1);
  font-family: var(--graphikSemibold);
}

/* bar chart  */
.inOutFlow {
  height: 100%;
  background-color: var(--white);
  padding: var(--btn-padding);
  border-radius: var(--btn-fs);
}
.inOutFlow_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.inOutFlow_content h3 {
  font-size: var(--btn-fs);
  color: #1e1b39;
  font-family: var(--graphikBold);
}
.inOutFlow_label {
  display: flex;
  gap: 18px;
}
.inOutFlow_label article {
  display: flex;
  align-items: center;
  gap: 4px;
}
.inOutFlow_label article small {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
}
.inOutFlow_label article p {
  font-size: 10px;
  color: var(--grey-1);
  font-family: var(--graphikLight);
}
.inOutFlow_label article:first-child small {
  background-color: var(--sky-blue);
}
.inOutFlow_label article:last-child small {
  background-color: var(--negative);
}

/* end  */
