
.wallet_page > .top {
  display: flex;
  gap: var(--inner-component-mg);
  width: 100%;
}

.balance_card {
  background-color: var(--sky-blue);
  width: 65%;
  padding: var(--inner-component-mg);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}

.balance_card * {
  color: #fff;
}

.balance_card .lhs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.balance_card .btn_sec {
  display: flex;
  gap: 10px;
}

.balance_card > .rhs {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.balance_card .account,
.balance_card .account > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance_card .account {
  gap: 12px
}

.virtual_account_card {
  background-image: url(../../public/business-profile.svg);
  width: 35%;
  border-radius: var(--btn-fs);
  background: var(--white);
  padding: 38px var(--btn-padding);
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.virtual_account_card .content h3 {
  font-size: 20px;
  font-family: var(--graphikMedium);
  color: var(--secondary);
}

.virtual_account_card .content p {
  font-size: 14px;
  color: var(--grey-3);
  font-family: var(--graphikLight);
  line-height: 21px;
  margin: 10px 0 var(--btn-fs);
}

.virtual_account_card .content a {
  width: fit-content;
  border-radius: 8px;
  border: none;
  font-family: var(--graphikMedium);
  background-color: var(--sky-blue-active);
  color: var(--white);
  text-decoration: none;
}


/* modal */

.modal__wallet_details {
  /* padding: var(--inner-component-mg); */
  padding: 2rem 0;
  /* min-height: 560px; */
  min-width: 500px
}
.modal__wallet_details_section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.modal__wallet_details .row {
  display: flex;
  gap: 2rem;
}
.modal__wallet_details_section h5 {
  font-size: 1.15rem;
  font-family: "GraphikMedium";
  font-weight: 70;
  margin-top: 4rem;
}
.modal__wallet_details_section:nth-child(1) h5 {
  margin-top: 0;
}
.modal__wallet_details .label {
  width: 180px;
  font-size: 1.15rem;
  color: var(--grey-3);
}
.modal__wallet_details .value span {
  font-size: 1.15rem;
}
.modal__wallet_details .value > span > span {
  color: var(--grey-3);
}
