

@font-face {
  font-family: 'GraphikMedium';
  src: url('../assets/fonts/Graphik-Font-Family/GraphikMedium.otf'); 
  src: url('../assets/fonts/Graphik-Font-Family/GraphikMedium.otf') format('embedded-opentype'),
  url('../assets/fonts/Graphik-Font-Family/GraphikMedium.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'GraphikBold';
  src: url('../assets/fonts/Graphik-Font-Family/GraphikBold.otf');
  src: url('../assets/fonts/Graphik-Font-Family/GraphikBold.otf') format('embedded-opentype'),
  url('../assets/fonts/Graphik-Font-Family/GraphikBold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'GraphikLight';
  src: url('../assets/fonts/Graphik-Font-Family/GraphikLight.otf');
  src: url('../assets/fonts/Graphik-Font-Family/GraphikLight.otf') format('embedded-opentype'),
  url('../assets/fonts/Graphik-Font-Family/GraphikLight.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'GraphikExtraLight';
  src: url('../assets/fonts/Graphik-Font-Family/GraphikExtralight.otf');
  src: url('../assets/fonts/Graphik-Font-Family/GraphikExtralight.otf') format('embedded-opentype'),
  url('../assets/fonts/Graphik-Font-Family/GraphikExtralight.otf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'GraphikRegular';
  src: url('../assets/fonts/Graphik-Font-Family/GraphikRegular.otf');
  src: url('../assets/fonts/Graphik-Font-Family/GraphikRegular.otf') format('embedded-opentype'),
  url('../assets/fonts/Graphik-Font-Family/GraphikRegular.otf') format('truetype');
  font-weight: 400;
}

* {
  font-family: 'GraphikLight', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

:root {
  --header-padding: 80px;
  --header-height: 100px;

  --grey-1: #1C1132;
  --grey-2: #565C69;
  --grey-3: #7E8494;
  --grey-4: #BDC0CE;
  --grey-5: #E5E7EF;
  --grey-6: #F4F5F8;

  --sky-blue: #009EC4;
  --sky-blue-active: #006F89;
  --sky-blue-bg: #E6F5F980;

  --cta-bg: #121212;

  --negative: #FF3B2D;
  --negative-box-shadow: #FFC7C3;
  --negative-bg: #FFE6E4;

  --warning-200: #DF752B;
  --warning-300: #D85900;
  --warning-400: #973E00;
  --warning-500: #843600;
  --warning-bg: #FBEEE680;

  --input-height: 48px;
  --input-br: 12px;
  --input-padding: 16px;
  --input-transition: 0.3s ease-in;
  --input-border: var(--grey-5);
  --input-border-disabled: var(--grey-5);
  --input-focus-bg:  #E6F5F9;
  --input-box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.10), 0px 0px 1px 0px rgba(12, 26, 75, 0.20);
  --input-focus-box-shadow: #96D7E7;
  --input-error-border: var(--negative);
  --input-error-box-shadow: var(--negative-box-shadow);
  --input-error-bg: var(--negative-bg);
  --input-checkbox-width: 16px;

  --flag-dropdown-width: clamp(40px, 15%, 200px);

  --input-icon-z-index: 5;
  --select-dropdown-z-index: 20;
  --overlay-z-index: 10;

  --outer-component-mg: 48px;
  --inner-component-mg: 24px;
  --inner-component-gap: 16px;
  --outer-component-gap: 32px;
  --sm-inner-component-mg: 8px;

  --btn-fs: 16px;
  --btn-height: 48px;
  --btn-height-md: 40px;
  --btn-br: 12px;
  --btn-br-sd: 12px;
  --btn-br-md: 8px;
  --btn-br-sm: 6px;
  --btn-padding: 24px;
  --btn-disabled: var(--grey-5);
  --btn-height-md: 40px;
  --btn-height-sm: 32px;
  --btn-secondary-shadow: 0px 1px 3px 0px rgba(47, 43, 67, 0.10), 0px 2px 0px 0px rgba(234, 234, 234, 0.25) inset;

  --screen-padding-top: 64px;

  --kyc-layout-lhs-width: 250px;
  --kyc-layout-lhs-max-width: 400px;
  --kyc-outer-component-padding: 48px;
  /* colors */
  --blue: #2B60E9;
  --green: #07B463;

  --anim-come-down-sm: come-down-sm 0.5s ease-in-out;
  --anim-come-down-sm-w-opacity: come-down-sm-w-opacity 0.5s ease-in-out;
}

/* @media (prefers-color-scheme: dark) {} */

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* body {} */

a {
  color: inherit;
  text-decoration: none;
  color: var(--sky-blue);
}

a:hover {
  text-decoration: underline;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

h1,
h2,
h3,
a,
button {
  font-family: 'GraphikMedium';
  font-weight: 500;
}

a,
button {
  font-size: var(--btn-fs);
  cursor: pointer;
  white-space: nowrap;
  transition: var(--input-transition);
}

a:disabled,
button:disabled {
  cursor: not-allowed;
}


h1 {
  font-style: normal;
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 8px;
}

h2 {
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 30px;
}

h3 {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

h1 span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  color: var(--grey-2);
}


h4 {
  color: var(--grey-3);
  font-size: 14px;
}

h1.title {
  /* letter-spacing:  -1.5px; */
  animation: slide-in-fr 0.7s forwards;
  -webkit-animation: slide-in-fr 0.7s forwards;
}

h4.sub-title {
  opacity: 0;
  animation-delay: 0.3s !important;
  animation: slide-in-fr 0.5s forwards;
  -webkit-animation: slide-in-fr 0.5s forwards;
}

p.center,
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}

p {
  color: var(--grey-3);
  line-height: 24px;
  /* font-size: 14px; */
}

li {
  color: var(--grey-2);
}

/* buttons */
.primary_btn, 
.primary_link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--btn-height);
  padding: 0 var(--btn-padding);
  border-radius: var(--btn-br);
  border: none;
  background-color: var(--cta-bg);
  color: #fff;
}

.primary_btn:hover,
.primary_link:hover {
  background-color: var(--sky-blue);
}

.primary_btn:active,
.primary_link:active {
  background-color: var(--sky-blue-active);
}

a.standard,
button.standard {
  border-radius: var(--btn-br-sd);
}

a.medium,
button.medium {
  border-radius: var(--btn-br-md);
  height: var(--btn-height-md);
}
/*  TODO: */
a.small,
button.small {
  border-radius: var(--btn-br-sm);
  height: var(--btn-height-sm);
}

.primary_btn:disabled {
  background-color: var(--btn-disabled);
  color: var(--grey-3);
}

.secondary_btn,
.secondary_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--btn-height);
  padding: 0 var(--btn-padding);
  border-radius: var(--btn-br);
  border: none;
  color: var(--grey-1);
  border: 1px solid var(--grey-5);
  background-color: unset;
  box-shadow: var(--btn-secondary-shadow);
}

.neutral_btn,
.neutral_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--btn-height);
  padding: 0 var(--btn-padding);
  border-radius: var(--btn-br);
  border: none;
  color: var(--grey-1);
  border: 1px solid var(--grey-5);
  background-color: unset;
  box-shadow: var(--btn-secondary-shadow);
}

.secondary_btn.medium,
.secondary_link.medium {
  height: var(--btn-height-md);
}

.close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: var(--btn-br);
  border: none;
  color: var(--grey-1);
  border: 1px solid var(--grey-5);
  background-color: unset;
  box-shadow: var(--btn-secondary-shadow);
}


.secondary_link:hover {
  text-decoration: none;
}

.tertiary_btn,
.tertiary_link {
  color: var(--sky-blue);
  border: none;
  background-color: unset;
}

.tertiary_btn:hover,
.tertiary_link:hover {
  text-decoration: underline;
}

.back_btn {
  margin: 0 0 var(--outer-component-mg);
  width: fit-content;
  height: var(--btn-height-md);
  padding: 0 var(--btn-padding);
  border-radius: var(--input-br);
  border: 1px solid var(--grey-5);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  box-shadow: var(--btn-secondary-shadow);
}

/* end of buttons */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  animation: var(--anim-come-down-sm);
  -webkit-animation: var(--anim-come-down-sm);
}

.overlay_screen {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  /* background: rgb(0, 0, 0, 0); */
  z-index: var(--overlay-z-index);
  cursor: default;
}

ol, ul {
  margin-left: 16px;
}

/* REACT PHONE INPUT - OLD */

.PhoneInput {
  display: flex;
  gap: var(--sm-inner-component-mg);
}

.PhoneInputCountry {
  display: flex;
  width: 40%;
}

/* END */


/* REACT PHONE INPUT */
.react-tel-input .form-control {
  background-color: #fff !important;
  border: 1px solid var(--input-border) !important;
  height: var(--input-height) !important;
  border-radius: var(--input-br) !important;
  padding: 0 var(--input-padding) !important;
  box-shadow: var(--input-box-shadow) !important;
  display: block !important;
  width: 100% !important;
  transition: var(--input-transition) !important;
  padding-left: calc(var(--flag-dropdown-width) + var(--input-padding)) !important;
}

.react-tel-input .flag-dropdown {
  height: calc(100% - 2px);
  width: var(--flag-dropdown-width) !important;
  /* bottom: 1px !important; */
  top: 1px !important;
  left: 1px !important;
  border: none !important;
  background-color: inherit !important;
  border-right: 1px solid var(--input-border) !important;
  border-radius: calc(var(--input-br) - 1px) 0 0 calc(var(--input-br) - 1px) !important;
}

.react-tel-input .selected-flag {
  width: 100% !important;
  background-color: inherit !important;
  padding: 0 0 0 var(--input-padding);
  border-radius: calc(var(--input-br) - 1px) 0 0 calc(var(--input-br) - 1px) !important;
}

.react-tel-input .form-control:not(:disabled):hover {
  border-color: var(--sky-blue) !important;
}

.react-tel-input .form-control:disabled {
  background-color: var(--grey-6) !important;
  border: 1px solid var(--input-border-disabled) !important;
}

.react-tel-input .form-control:not(:disabled):focus {
  border: 1px solid var(--sky-blue) !important;
  outline: transparent !important;
  box-shadow: 0px 0px 0px 3px var(--input-focus-box-shadow) !important;
  background-color: var(--input-focus-bg) !important;
}

.form_group.error .react-tel-input .form-control {
  border: 1px solid var(--input-error-border) !important;
  box-shadow: 0px 0px 0px 3px var(--input-error-box-shadow) !important;
  background-color: var(--input-error-bg) !important;
}

/* END OF REACT PHONE INPUT */


/* SCREEN RESOLUTIONS */
@media screen and (min-width: 700px) {
  .media-max-700 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --header-padding: 40px;
    --outer-component-mg: 48px;
    --inner-component-mg: 12px;
    --inner-component-gap: 8px;
    --outer-component-gap: 16px;
    --screen-padding-top: 32px;
    --btn-padding: 16px;
    --kyc-outer-component-padding: 16px;
  }

  .media-max-700 {
    display: block;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  h1 br {
    display: none;
  }
  .back_btn {
    width: var(--btn-height-md);
    padding: 0;
  }

  .back_btn span:last-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --header-padding: 16px;
  }
}

/* ANIMS */


.slide-in-fl {
  animation: slide-in-fl 0.6s forwards;
  -webkit-animation: slide-in-fl 0.6s forwards;
}

@keyframes slide-in-fl {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}

.slide-in-fr {
  animation: slide-in-fr 0.6s forwards;
  -webkit-animation: slide-in-fr 0.6s forwards;
}

@keyframes slide-in-fr {
  0% {
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
    -webkit-transform: translateX(0vw);
    -moz-transform: translateX(0vw);
    -ms-transform: translateX(0vw);
    -o-transform: translateX(0vw);
  }
}

.slide-up {
  animation: slide-up 0.4s forwards;
  -webkit-animation: slide-up 0.4s forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0vw);
    -webkit-transform: translateY(0vw);
    -moz-transform: translateY(0vw);
    -ms-transform: translateY(0vw);
    -o-transform: translateY(0vw);
  }
}


.dropdown {
  animation: dropdown 0.5s ease-in-out forwards;
  -webkit-animation: dropdown 0.5s ease-in-out forwards;
  transform-origin: top;
}

@keyframes dropdown {
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
  }
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
  }
}

.come-down-sm {
  animation: var(--anim-come-down-sm);
  -webkit-animation: var(--anim-come-down-sm);
}

@keyframes come-down-sm {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

@keyframes come-down-sm-w-opacity {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

/* end */