.feedback_info_ctn {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  animation: var(--anim-come-down-sm-w-opacity);
  -webkit-animation: var(--anim-come-down-sm-w-opacity);
}

.feedback_info_ctn.center {
  margin-top: 16px;
  justify-content: center;
}

.feedback_info_ctn .content {
  font-size: 12px;
  position: relative;
  bottom: -2px;
}
.feedback_info_ctn.error .content {
  color: #FF3B2D;
}
.feedback_info_ctn.success .content {
  color: var(--green);
}
.feedback_info_ctn.note .content {
  color: var(--grey-2);
}