.feedback_info_ctn {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  animation: var(--anim-come-down-sm-w-opacity);
  -webkit-animation: var(--anim-come-down-sm-w-opacity);
}
.feedback_info_ctn .content {
  font-size: 12px;
  color: #FF3B2D;
  position: relative;
  bottom: 2px;
}