.feedback_info_ctn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 1rem;
  animation: var(--anim-come-down-sm-w-opacity);
  -webkit-animation: var(--anim-come-down-sm-w-opacity);
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.feedback_info_ctn.center {
  margin-top: 16px;
  justify-content: center;
}

.feedback_info_ctn .icon {
  display: flex;
  align-items: center;
}

.feedback_info_ctn .content {
  font-size: 14px;
  position: relative;
  bottom: -2px;
  font-weight: 600;
}
.feedback_info_ctn.error {
  background: #ff3b2d20;
}
.feedback_info_ctn.error .content {
  color: #ff3b2d;
}
.feedback_info_ctn.success .content {
  color: var(--green);
}
.feedback_info_ctn.note .content {
  color: var(--grey-2);
}
