/* TRAVEL DASHBOARD TABLE */
.travel__dashboard_table {
  margin-top: 2rem;
}
.table__outer {
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
    0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}
.table__header {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 1rem;
}

.table__main th {
  font-family: var(--graphikRegular);
  letter-spacing: 0.6px;
}

.table__main td > div.col {
  display: flex;
  flex-direction: column;
}

.table__main td h4 {
  color: var(--grey-1);
  font-family: var(--graphikRegular);
}

.table__main th:nth-child(1),
.table__main td:nth-child(1) {
  padding-left: 1.5rem;
}
.table__main th:last-child,
.table__main td:last-child {
  padding-right: 1.5rem;
}

.td_1 {
  width: calc(100% / 20);
}
.td_2 {
  width: calc(100% / 20 * 2);
}
.td_3 {
  width: calc(100% / 20 * 3);
}
.td_4 {
  width: calc(100% / 20 * 4);
}
.td_5 {
  width: calc(100% / 20 * 5);
}



/* pagination */

.table__pagination {
  padding: 1.5rem;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.table__pagination .rhs {
  display: flex;
  gap: 10px;
}

.table__pagination .rhs button {
  border: 1px solid var(--grey-5);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__pagination .rhs button:not(:disabled):hover {
  color: var(--sky-blue);
  border: 1px solid var(--sky-blue);
}

.table__pagination .rhs button.nav:not(:disabled):focus {
  color: var(--sky-blue);
  border: 1px solid var(--sky-blue);
}

.table__pagination .page_btns {
  display: flex;
  gap: 8px;
}

.page_btns button.current_page {
  color: var(--sky-blue);
  border: 1px solid var(--sky-blue);
}