.modal_container {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  inset: 0;
  position: fixed;
  z-index: var(--z-index-overlay);
  display: grid;
  place-items: center;
  /* display: flex; */
  /* justify-content: center; */
  /* padding-top: 25vh; */
}

.loader_overlay_screen {
  min-height: 100%;
  width: 100%;
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  background: rgba(28, 17, 50, 0.6);
  cursor: unset;
  z-index: var(--z-index-overlay);
}
.overlay_screen {
  min-height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  background: rgba(28, 17, 50, 0.6);
  cursor: unset;
}

.loader_ctn {
  width: fit-content;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 24px;
  /* width: 100px; */
  /* height: 100px; */
  display: grid;
  place-items: center;
}

.p.sm-title {
  text-transform: unset;
}
.loader_ctn img {
  width: 50px;
  object-fit: contain;
  animation: pulse 1s infinite;
}

.child_ctn {
  min-width: 500px;
  max-width: 600px;
  position: relative;
}

.child_ctn.contains_tab {
  min-width: 500px;
  width: 65%;
  max-width: 600px;
  position: relative;
}

.child {
  width: 100%;
  z-index: calc(var(--z-index-overlay)+ 1);
  background: #fff;
  /* position: relative; */
  border-radius: var(--input-br);
  min-height: 200px;
  max-height: calc(100vh - 100px);
  padding: var(--inner-component-mg);
  overflow-y: auto;
  /* display: grid; */
  /* flex-direction: column; */
  gap: var(--sm-inner-component-mg);
}

.child_ctn.contains_tab .child {
  padding: 0;
}

.top {
  position: relative;
  margin-bottom: var(--inner-component-gap);
}

.top .sub_heading,
.top .sub_heading div {
  color: var(--grey-3);
}

.child_ctn.contains_tab .top {
  padding: var(--inner-component-mg);
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  margin-top: var(--outer-component-mg);
  display: flex;
  align-self: flex-end;
  gap: var(--inner-component-gap);
}

.bottom.end {
  justify-content: flex-end;
}

.bottom button {
  width: fit-content;
}

.bottom:not(.end) button {
  width: 100%;
}

.close_btn {
  position: absolute;
  right: var(--inner-component-mg);
  top: var(--inner-component-mg);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 30px; */
  /* height: 30px; */
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  z-index: 60;
  background-color: #fff;
}

.close_btn:hover {
  background-color: var(--grey-5);
}

@media screen and (min-width: 500px) {
  .mobile_top {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .modal_container {
    place-items: end;
  }

  .mobile_top {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .dragger {
    background-color: var(--grey-5);
    border-radius: var(--input-br);
    height: 5px;
    width: 50px;
  }

  .child_ctn {
    min-width: 90%;
  }

  .child {
    border-radius: calc(var(--input-br) * 2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 300px;
    padding-top: calc(var(--sm-inner-component-mg) + 32px);
    animation: var(--anim-slide-up);
    -webkit-animation: var(--anim-slide-up);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
