.main_ctn {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  padding: var(--screen-padding-top) var(--inner-component-mg) var(--inner-component-mg);
  border-radius: var(--ctn-br-md);
}

.settings_lhs {
  width: 350px;
  max-width: 35%;
  border-right: 1px solid var(--grey-5);
  min-height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav_sec {
  display: flex;
  align-items: center;
  gap: var(--inner-component-gap);
  padding: var(--inner-component-gap);
  border-bottom: 1px solid var(--grey-5);
}

.nav_sec .icon {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--sky-blue-hover);
  display: grid;
  place-items: center;
}

.nav_sec:hover {
  text-decoration: unset;
  background-color: var(--sky-blue-hover);
  border-radius: var(--ctn-br-sd);
}

.nav_sec:hover .icon {
  background-color: var(--sky-blue);
}

.nav_sec:hover .icon svg path {
  stroke: #fff;
}

.nav_sec .content {
  width: 90%;
}

.nav_sec .content h4{
  color: var(--grey-1);
  font-family: var(--graphikMedium);
}

.nav_sec .content * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings_page {
  display: flex;
  justify-content: center;
  width: calc(100% - 350px);
  max-width: 800px;
  padding: 0 var(--inner-component-mg)
}

.security_box,
.notification_box {
  max-width: 650px;
  border: 1px solid var(--grey-5);
  border-radius: 16px;
  padding: var(--inner-component-mg);
  margin-bottom: var(--inner-component-mg);
}

.security_page h1,
.notification_page h1 {
  margin-bottom: 40px;
}

.notification_box {

  padding: 0;
}

.notification_box h3 {
  padding: var(--inner-component-mg);
}

.notification_box .inner {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  padding: var(--inner-component-mg);
}

.notification_box .inner:not(:last-child) {
  border-bottom: 1px solid var(--grey-5);
}

.notification_box h4 {
  font-family: var(--graphikLight);
  color: var(--grey-1);
  font-size: 20px;
}