.tab_group {
  display: flex;
  border-bottom: 2px solid var(--grey-6);
  overflow-x: auto;
  margin-bottom: 30px;
}

.tab_group button {
  height: 40px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
  color: var(--grey-3);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tab_group button.active,
.tab_group button:hover {
  border-color: var(--sky-blue);
  color: var(--sky-blue);
}